@mixin btnModifier($bg,$color,$size,$padding) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg;
    border: 2px solid $color;
    padding: $padding;

    button{
        width: 100%;
        padding: $padding;
        background-color: $bg;
        color: $color;

        border: 2px solid $color;
        font-family: $goodTimes;
        font-size: $size;
    }

    &:hover {
        box-shadow: 0 0.5em 0.5em -0.4em $color;
        transform: translateY(-0.25em);
    }
    
}

.btn{
    @include btnModifier($bgColor1,$white,28px,15px);

    &--promo{
        @include btnModifier($bgColor1,$white,15px,5px);
    }

    &--card{
        @include btnModifier($bgColor1,$white,20px,10px);
    }

    &--form{
        width: 150px;
        margin: 15px 0px;
        @include btnModifier($white,$bgColor1,12px,6px);
    }
}

@media screen and (max-width: 414px) {
    .btn{
        @include btnModifier($bgColor1,$white,18px,5px);

        &--promo{
            @include btnModifier($bgColor1,$white,10px,3px);
        }

        
    }
}