main{

    display: flex;
    flex-direction: column;
    color: $white;

    h1{
        margin: 40px 0px;
        font-family: $goodTimes;
        text-align: center;
        font-size: 64px;
        line-height: 72px;
    }

    h2{
        margin: 20px 0px;
        font-family: $goodTimes;
        text-align: center;
        font-size: 40px;
        line-height: 72px;
    }

    p{
        font-family: $montserrat;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin: 20px 0px;
    }

    .info{
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 140px 250px;
    
        section{
            width: 600px;
            text-align: center;
            hr{
                width: 400px;
                border: 3px solid $primaryColor;
            }
        }
    
        section:nth-child(2n){
            align-self: flex-end;
            hr{
                border: 3px solid $secondaryColor;
            }
        }
    }

    .carrousel{
        padding: 200px 0px;
        overflow: hidden;

        &__stripe{
            display: flex;
            //justify-content: center;
            transition: transform .6s ease;
            img{
                margin: 100px;
            }
        }
    }

    .promo{

        h1{
            margin-bottom: 0px;
        }
        
        h2{
            margin-top: 0px;
        }

        .logos__button{
            :focus{
                height: 40px;
                outline: none;
            }

            &--focus{
                height: 40px;
            }
        }

        &__content{
            display: flex;
            justify-content: space-around;
            padding: 100px 0px;

            &--hidden{
                display: none;
            }
        }

        &__card{
            width: 510px;
            height: 410px;
            border: 3px solid $white;
            padding: 15px;
            display: flex;

            &--border{
                width: 100%;
                padding: 15px;
                border: 3px solid $white;
            }
        }

        &__info{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            
            h1{
                height: 60px;
                margin: 0px;
                font-family: $goodTimes;
                font-size: 28px;
            }
        }

        &__price{
            width: 100%;
            margin: 30px 0px;
            display: flex;
            justify-content: space-around;

            p{
                font-family: $montserrat;
                font-weight: bold;
                font-size: 25px;
                margin: 0px;
            }

            s{
                font-family: $montserrat;
                font-weight: normal;
                font-size: 15px;
                margin: 0px;
            }

            &--percentage{
                width: 130px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                color: $bgColor1;
            }
        }
    }
    
    .newsletter{
        width: 1300px;
        padding: 400px 0px;
        align-self: center;
    
        div{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            h2{
                width: 330px;
                line-height: 36px;
                
            }
        
            .input{
                width: 70%;
                background-color: $bgColor1;
                border: 2px solid $white;
                padding: 10px;
    
                input{
                    width: 100%;
                    box-sizing: border-box;
                    padding: 15px 20px;
                    background-color: $bgColor1;
                    color: $white;
        
                    border: 2px solid $white;
                    font-family: $goodTimes;
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 414px) {
    main{
        width: 414px;
        align-items: center;
        h1{
            font-size: 18px;
            line-height: 22px;

            margin: 10px 0px;
        }

        h2{
            font-size: 12px;
            line-height: 20px;

            margin: 10px 0px;
        }

        p{
            font-size: 10px;
            line-height: 12px;

            margin: 10px 0px;
        }

        .info{
            width: 250px;
            height: 500px;
            padding: 80px 0px;

            section{
                width: 250px;
                hr{
                    width: 100%;
                    border: 1px solid $primaryColor;
                }
            }

            section:nth-child(2n){
                hr{
                    border: 1px solid $secondaryColor;
                }
            }
        }

    }
}