main{
    display: flex;
    flex-direction: column;

    .info{
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $white;
        padding: 140px 250px;
    
        section{
            width: 600px;
            text-align: center;
    
            h1{
                font-family: "Good Times";
                font-size: 40px;
                margin: 20px 0px;
            }
    
            hr{
                width: 400px;
                border: 3px solid $primaryColor;
            }
    
            p{
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 20px;
                margin: 20px 0px;
            }
        }
    
        section:nth-child(2n){
            align-self: flex-end;
            hr{
                border: 3px solid $secondaryColor;
            }
        }
    }

    .carrousel{
        color: #FFFFFF;
        padding: 400px 0px;
        overflow: hidden;

        h1{ 
            font-family: $goodTimes;
            text-align: center;
            font-size: 64px;
            line-height: 72px;
        }

        &__stripe{
            display: flex;
            justify-content: center;
            transition: transform .6s ease;
            img{
                margin: 100px;
            }
        }
    }
    
    .newsletter{
        width: 1300px;
        padding: 400px 0px;
        color: #FFFFFF;
        align-self: center;
    
        h1{
            font-family: $goodTimes;
            text-align: center;
            font-size: 64px;
            line-height: 72px;
        }
        div{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            h2{
                width: 330px;
                font-family: $goodTimes;
                font-size: 30px;
                line-height: 36px;
                
            }
        
            .input{
                width: 70%;
                background-color: $bgColor1;
                border: 2px solid $white;
                padding: 10px;
    
                input{
                    width: 100%;
                    box-sizing: border-box;
                    padding: 15px 20px;
                    background-color: $bgColor1;
                    color: $white;
        
                    border: 2px solid $white;
                    font-family: $goodTimes;
                    font-size: 15px;
                }
            }
        }
    }
}