.product{
    display: flex;
    flex-direction: column;
    padding: 120px;

    hr{
        width: fill;
        margin: 80px 0px;
    }

    article{
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    h1{
        margin-top: 0px;
        letter-spacing: 0.05em;
    }

    h2{
        text-align: start;
    }

    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;

        p{
            text-align: center;
        }

        section{
            width: 100%;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        &--cart{
            width: fit-content;
            align-items: flex-start;
        }
    }

    &__img{
        border: 2px solid $white;
        padding: 13px;

        &--cart{

            margin-right: 60px;
            img{
                width: 210px;
            }
        }
    }

    &__price{
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: baseline;

        p{
            font-weight: bold;
            font-size: 50px;
            line-height: 61px;
        }
        s{
            font-family: $montserrat;
            font-size: 30px;
        }

        &--cart{
            
        p{
            font-weight: bold;
            font-size: 40px;
            line-height: 50px;
        }
        s{
            font-family: $montserrat;
            font-size: 20px;
        }
        }
    }

    &__devices{
        width: fit-content;
        display: flex;
        justify-content: center;
        text-align: left;
        img{
            height: 35px;
            margin: 20px 5px;
        }
    }

    &__tags{
        display: flex;
        align-items: center;

        h2{
            margin-right: 20px;
        }
    }

    &__tag{
        padding: 10px;
        background-color: $white;

        font-family: $montserrat;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        color: $bgColor1;
        margin-right: 20px;
    }

    &__references{
        display: flex;
        justify-content: space-between;
    }

    &--cart{
        display: flex;
        margin-bottom: 100px;

        p{
            margin: 10px 0px;
        }

        h2{
            line-height: 45px;
            margin-top: 0px;
        }
    }

}