.store{
    flex-direction: row;
    padding: 50px 0px;
    hr{
        height: auto;
    }

    &__container{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 50px 200px;
    }

    &__selection{
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        align-self: center;
    }
}

.card{
    width: 480px;
    height: fit-content;
    border: 2px solid $white;
    padding: 13px;
    margin-bottom: 100px;

    &__info{
        height: fill;
        border: 2px solid $white;
        padding: 13px;
        box-sizing: content-box;

        h2{
            font-size: 30px;
            line-height: 60px;
            letter-spacing: 0.05em;
        }

        div{
            display: flex;
            align-items: center;
            justify-content: space-around;
            p{
                width: 100px;
                font-family: $montserrat;
                font-weight: bold;
                font-size: 25px;
                line-height: 30px;
                s{
                    font-size: 15px;
                    font-weight: normal;
                }
            }
        }
    }

    &--reference{
        margin: 0px;
    }
}

.filters{
    width: 150px;
    padding: 50px 50px;

    h2{
        text-align: left;
        font-size: 20px;
        line-height: 24px;
    }

    select{
        width: 100%;
        background-color: transparent;
        border: none;
        overflow: hidden;
        margin-bottom: 40px;

        &:focus{
            outline: none;
        }

        option{
            color: $white;
            font-family: $montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            cursor: pointer;

            &:checked{
                background-color: $white  !important ;
            }
        }
    }
}

