@import url("https://db.onlinewebfonts.com/c/b76dfab2577d26b9cfdeebe6655aa14f?family=Good+Times");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  background-color: #0A0A0A;
}

body a {
  text-decoration: none;
  color: #ffffff;
}

body a :visited {
  text-decoration: none;
}

body .hidden {
  display: none !important;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logos__button :focus {
  height: 40px;
  outline: none;
}

.logos__button--focus {
  height: 40px;
}

.logos img {
  height: 30px;
  margin: 20px 10px;
}

.logos input {
  height: 30px;
  margin: 20px 10px;
}

@media screen and (max-width: 414px) {
  .logos__button :focus {
    height: 35px;
  }
  .logos__button--focus {
    height: 35px;
  }
  .logos img {
    height: 20px;
    margin: 10px 5px;
  }
  .logos input {
    height: 25px;
    margin: 10px 10px;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0A0A0A;
  border: 2px solid #ffffff;
  padding: 15px;
}

.btn button {
  width: 100%;
  padding: 15px;
  background-color: #0A0A0A;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-family: "Good Times";
  font-size: 28px;
}

.btn:hover {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
          box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.btn--promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0A0A0A;
  border: 2px solid #ffffff;
  padding: 5px;
}

.btn--promo button {
  width: 100%;
  padding: 5px;
  background-color: #0A0A0A;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-family: "Good Times";
  font-size: 15px;
}

.btn--promo:hover {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
          box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.btn--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0A0A0A;
  border: 2px solid #ffffff;
  padding: 10px;
}

.btn--card button {
  width: 100%;
  padding: 10px;
  background-color: #0A0A0A;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-family: "Good Times";
  font-size: 20px;
}

.btn--card:hover {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
          box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.btn--form {
  width: 150px;
  margin: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border: 2px solid #0A0A0A;
  padding: 6px;
}

.btn--form button {
  width: 100%;
  padding: 6px;
  background-color: #ffffff;
  color: #0A0A0A;
  border: 2px solid #0A0A0A;
  font-family: "Good Times";
  font-size: 12px;
}

.btn--form:hover {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em #0A0A0A;
          box-shadow: 0 0.5em 0.5em -0.4em #0A0A0A;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

@media screen and (max-width: 414px) {
  .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #0A0A0A;
    border: 2px solid #ffffff;
    padding: 5px;
  }
  .btn button {
    width: 100%;
    padding: 5px;
    background-color: #0A0A0A;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-family: "Good Times";
    font-size: 18px;
  }
  .btn:hover {
    -webkit-box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
            box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
    -webkit-transform: translateY(-0.25em);
            transform: translateY(-0.25em);
  }
  .btn--promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #0A0A0A;
    border: 2px solid #ffffff;
    padding: 3px;
  }
  .btn--promo button {
    width: 100%;
    padding: 3px;
    background-color: #0A0A0A;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-family: "Good Times";
    font-size: 10px;
  }
  .btn--promo:hover {
    -webkit-box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
            box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
    -webkit-transform: translateY(-0.25em);
            transform: translateY(-0.25em);
  }
}

.form {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0px;
}

.form div input[type="checkbox"] {
  zoom: 1.5;
}

.form div img {
  width: 20px;
  margin-left: 10px;
}

.form div p {
  margin: 0px 0px 0px 10px;
}

.form__deviceBtn {
  width: 300px;
}

.form .input--form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border: 2px solid #0A0A0A;
  padding: 6px;
  margin: 15px 0px;
}

.form .input--form input {
  width: 100%;
  padding: 6px;
  background-color: #ffffff;
  color: #0A0A0A;
  border: 2px solid #0A0A0A;
  font-family: "Good Times";
  font-size: 12px;
}

.form .textarea--form {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  border: 2px solid #0A0A0A;
  padding: 6px;
}

.form .textarea--form--large {
  height: 100px;
}

.form .textarea--form textarea {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #0A0A0A;
  font-family: "Good Times";
  font-size: 12px;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url("../data/bg/biomutantBg.png");
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner nav {
  height: 80px;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 50px;
}

.banner nav ul {
  padding: 0px;
}

.banner nav ul li {
  list-style: none;
  padding: 0px 20px;
}

.banner nav img {
  height: 30px;
  margin-right: 10px;
}

.banner nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner nav .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner nav .navigation ul li {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.banner nav .navigation ul li:nth-child(2n) {
  width: 8px;
  height: 8px;
  padding: 0px;
  border-radius: 4px;
  background-color: #ffffff;
}

.banner nav .navigation--mobile {
  display: none;
}

.banner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 120px;
  justify-self: flex-end;
}

.banner__info h1 {
  font-family: "Good Times";
  font-size: 72px;
  color: #FFFFFF;
  text-shadow: 0px 10px 5px #0A0A0A;
}

.banner__info p {
  width: 520px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 0px 6px 5px #0A0A0A;
}

.banner--aux {
  height: 30vh;
  background-image: url("../data/bg/biomutantBg.png");
  background-position: top;
}

@media screen and (max-width: 414px) {
  header {
    height: 500px;
    background-size: 1100px;
  }
  header nav {
    height: 40px;
    padding: 0px 20px;
  }
  header nav .navigation {
    display: none;
  }
  header nav .navigation--mobile {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav .navigation--mobile img {
    height: 18px;
  }
  header nav .navigation--mobile input {
    height: 18px;
  }
  header nav .profile {
    display: none;
  }
  header .banner {
    height: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
    margin: 0px 0px 50px 0px;
  }
  header .banner h1 {
    font-size: 30px;
  }
  header .banner p {
    width: 250px;
    font-size: 12px;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}

main h1 {
  margin: 40px 0px;
  font-family: "Good Times";
  text-align: center;
  font-size: 64px;
  line-height: 72px;
}

main h2 {
  margin: 20px 0px;
  font-family: "Good Times";
  text-align: center;
  font-size: 40px;
  line-height: 72px;
}

main p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 20px 0px;
}

main .info {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 140px 250px;
}

main .info section {
  width: 600px;
  text-align: center;
}

main .info section hr {
  width: 400px;
  border: 3px solid #0084C1;
}

main .info section:nth-child(2n) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main .info section:nth-child(2n) hr {
  border: 3px solid #F05F00;
}

main .carrousel {
  padding: 200px 0px;
  overflow: hidden;
}

main .carrousel__stripe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
}

main .carrousel__stripe img {
  margin: 100px;
}

main .promo h1 {
  margin-bottom: 0px;
}

main .promo h2 {
  margin-top: 0px;
}

main .promo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 100px 0px;
}

main .promo__content--hidden {
  display: none;
}

main .promo__card {
  width: 510px;
  height: 410px;
  border: 3px solid #ffffff;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .promo__card--border {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  border: 3px solid #ffffff;
}

main .promo__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .promo__info h1 {
  margin: 0px;
  font-family: "Good Times";
  font-size: 28px;
  line-height: 60px;
}

main .promo__price {
  width: 100%;
  margin: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .promo__price p {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin: 0px;
}

main .promo__price s {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 15px;
  margin: 0px;
}

main .promo__price--percentage {
  width: 130px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  color: #0A0A0A;
}

main .newsletter {
  width: 1300px;
  padding: 400px 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .newsletter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .newsletter div h2 {
  width: 330px;
  line-height: 36px;
}

main .newsletter div .input {
  width: 70%;
  background-color: #0A0A0A;
  border: 2px solid #ffffff;
  padding: 10px;
}

main .newsletter div .input input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 20px;
  background-color: #0A0A0A;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-family: "Good Times";
  font-size: 15px;
}

@media screen and (max-width: 414px) {
  main {
    width: 414px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main h1 {
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0px;
  }
  main h2 {
    font-size: 12px;
    line-height: 20px;
    margin: 10px 0px;
  }
  main p {
    font-size: 11px;
    line-height: 12px;
    margin: 10px 0px;
  }
  main .info {
    width: 250px;
    height: 500px;
    padding: 80px 0px;
  }
  main .info section {
    width: 250px;
  }
  main .info section hr {
    width: 100%;
    border: 1px solid #0084C1;
  }
  main .info section:nth-child(2n) hr {
    border: 1px solid #F05F00;
  }
  main .carrousel {
    width: 414px;
    padding: 80px 0px;
    overflow: hidden;
  }
  main .carrousel__stripe img {
    width: 230px;
    margin: 50px 92px;
  }
  main .promo__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 600px;
    padding: 40px 0px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .promo__card {
    width: 250px;
    height: 230px;
    border: 2px solid #ffffff;
    padding: 10px;
  }
  main .promo__card img {
    width: 100%;
  }
  main .promo__card--border {
    height: 100%;
    border: 2px solid #ffffff;
  }
  main .promo__info h1 {
    font-size: 15px;
    line-height: 22px;
  }
  main .promo__price {
    margin: 20px 0px;
  }
  main .promo__price p {
    font-size: 14px;
  }
  main .promo__price s {
    font-size: 10px;
  }
  main .promo__price--percentage {
    width: 80px;
    height: 30px;
  }
  main .newsletter {
    width: 300px;
    padding: 80px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .newsletter h1 {
    width: 250px;
  }
  main .newsletter div .input {
    width: 100%;
    padding: 5px;
  }
  main .newsletter div .input input {
    padding: 8px;
    font-size: 10px;
  }
  main .newsletter div .input input :focus {
    outline: none;
  }
}

.footer {
  background-color: rgba(0, 0, 0, 0.7);
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 150px;
}

.footer__socialNetworks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.footer__socialNetworks img {
  width: 30px;
}

.footer__menu {
  width: 690px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menu section h1 {
  font-family: "Good Times";
  font-size: 20px;
}

.footer__menu section ul {
  list-style: none;
  padding: 0px;
}

.footer__menu section ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.footer__payment {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__payment img {
  height: 25px;
}

@media screen and (max-width: 414px) {
  .footer {
    height: 100px;
    padding: 0px 50px;
  }
  .footer img {
    width: 60px;
  }
  .footer__socialNetworks {
    margin-top: 8px;
  }
  .footer__socialNetworks img {
    width: 14px;
  }
  .footer__menu {
    width: 185px;
  }
  .footer__menu section h1 {
    font-size: 9px;
  }
  .footer__menu section ul {
    display: none;
  }
  .footer__payment {
    display: none;
  }
}

.auth {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth article {
  width: 600px;
  border: 2px solid #ffffff;
  padding: 13px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.auth__form {
  background-color: #ffffff;
  padding: 40px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth__form img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.auth__form p {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin: 15px 0px 30px 0px;
}

.auth__division {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0px 30px 0px;
}

.auth__division hr {
  width: 25px;
}

.auth__division p {
  font-family: Good Times;
  font-size: 7px;
  line-height: 8px;
  margin: 0px;
  color: #000000;
}

.auth__btn {
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.auth__btn input {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 30px;
}

.auth__bottom {
  height: 80px;
  background-color: #0084C1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth__bottom p {
  font-family: "Good Times";
  font-size: 16px;
  line-height: 14px;
  margin: 0px;
}

.auth__bottom--secondary {
  background-color: #F05F00;
}

.store {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 50px 0px;
}

.store hr {
  height: auto;
}

.store__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 200px;
}

.card {
  width: 510px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid #ffffff;
  padding: 13px;
  margin-bottom: 100px;
}

.card__info {
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill;
  border: 2px solid #ffffff;
  padding: 13px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.card__info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card__info div p {
  width: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.card__info div p s {
  font-size: 15px;
  font-weight: normal;
}

.filters {
  width: 150px;
  padding: 50px 50px;
}

.filters section h2 {
  text-align: left;
  font-size: 20px;
  line-height: 24px;
}

.filters ul {
  padding: 0px;
}

.filters ul li {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
}

.profile__info {
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.profile__info h2 {
  margin: 0px;
  line-height: 40px;
}

.profile__info p {
  font-size: 28px;
  margin: 0px;
}

.profile__form {
  width: 600px;
  border: 2px solid #ffffff;
  padding: 13px;
}

.profile__form section {
  background-color: #ffffff;
  padding: 40px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__form img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.profile__form h2 {
  font-family: "Good Times";
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 0px;
  color: #000000;
}

.profile__form p {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin: 10px 0px 30px 0px;
}

.profile__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
}

.profile__nav ul li {
  font-family: "Good Times";
  font-size: 16px;
  padding: 0px 10px;
}
/*# sourceMappingURL=main.css.map */