// @font-face{
//     font-family: 'goodTimes';
//     src: url("../data/fonts/goodTimes.ttf");
// }

@import url("https://db.onlinewebfonts.com/c/b76dfab2577d26b9cfdeebe6655aa14f?family=Good+Times");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

// colors
$bgColor1: #0A0A0A;
$bgColor2: rgba(0, 0, 0, 0.7);
$primaryColor: #0084C1;
$secondaryColor:#F05F00;
$white: #ffffff;

// fonts
$goodTimes: "Good Times";
$montserrat: 'Montserrat', sans-serif;

body{
    background-color: $bgColor1;
}

.logos{
    display: flex;
    justify-content: center;

    &__button{
        :focus{
            height: 40px;
            outline: none;
        }

        &--focus{
            height: 40px;
        }
    }
    
    img{
        height: 30px;
        margin: 20px 10px;
    }
    input{
        height: 30px;
        margin: 20px 10px;

    }
}

@media screen and (max-width: 414px) {
    .logos{

        &__button{

            :focus{
                height: 35px;
            }
    
            &--focus{
                height: 35px;
            }
        }

        img{
            height: 20px;
            margin: 10px 5px;
        }
        input{
            height: 25px;
            margin: 10px 10px;
        }
    }
}

@import 'reset';
@import 'btn';
@import 'header';
@import 'content';
@import 'footer';